.nav_container {
  margin: auto;
  padding-top: 24px;
  max-width: 1238px;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_link {
  display: flex;
  align-items: center;
}

.nav_link_item {
  font-size: 16px;
  font-weight: 400;
  color: var(--text);
  text-transform: uppercase;
  padding-top: 4px;
  padding-bottom: 20px;
  padding-left: 16px;
  padding-right: 16px;
}
.active {
  color: var(--green-color);
  border-bottom: 1px solid var(--green-color);
}

.logo {
  width: 41px;
  height: 41px;
}

.nav_elements {
  display: flex;
}

.emptyCart {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.currency_list {
  font-weight: 500;
  font-size: 18px;
  width: 38px;
  height: 29px;
  border: none;
  margin-right: 22px;
  cursor: pointer;
}

.nav_btn {
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  position: relative;
}

.qty {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  top: -4px;
  left: 11px;
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: var(--black-color);
  color: var(--white-color);
}
