.productPage_container {
  margin: auto;
  margin-top: 80px;
  max-width: 1238px;
  display: flex;
}

.productPage_img_list {
  display: flex;
  flex-direction: column;
  margin-right: 40px;
}

.productPage_img_item:not(:last-child) {
  margin-bottom: 40px;
}

.productPage_img_item {
  width: 79px;
  height: 80px;
  cursor: pointer;
}

.productPage_info_block {
  display: flex;
}

.productPage_info_img {
  width: 610px;
  height: 511px;
  margin-right: 100px;
}

.productPage_info_side {
  display: flex;
  flex-direction: column;
  max-width: 292px;
}

.productPage_info_title {
  font-weight: 600;
  font-size: 30px;
}

.productPage_info_name {
  font-weight: 400;
  font-size: 30px;
}

.productPage_info_param {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 8px;
}

.productPage_info_price {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 20px;
}

.productPage_info_size {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-size: 16px;
  display: flex;
  margin-bottom: 24px;
}

.productPage_info_size-item {
  height: 45px;
  width: 63px;
  border-color: var(--black-color);
  border: solid 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 12px;
  }
}

.productPage_info_color {
  display: flex;
  margin-bottom: 36px;
}

.productPage_info_color-item {
  height: 32px;
  width: 32px;
  cursor: pointer;

  &:not(:last-child) {
    margin-right: 8px;
  }
}

.productPage_infi_btn {
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  width: 100%;
  margin-bottom: 40px;
  padding-top: 16px;
  padding-bottom: 16px;
  color: var(--white-color);
  background-color: var(--green-color);
  border: none;
  cursor: pointer;
}

.productPage_info_description {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 16px;
}

.size_active {
  color: var(--white-color);
  background-color: var(--black-color);
}

.color_active {
  border: solid var(--green-color);
  border-style: double;
}
